<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<payscrow_paymentgateway>
				<model>Payscrow\PaymentGateway\Model\Payment</model>
				<title>Payscrow - Premium Payment Escrow Service</title>
				<order_status>Complete</order_status>
				<active>0</active>
				<allowspecific>0</allowspecific>
				<sort_order>100</sort_order>
				<group>offline</group>
				<sandbox_mode>1</sandbox_mode>
				<max_delivery_duration>30</max_delivery_duration>
			</payscrow_paymentgateway>
		</payment>
	</default>
</config>