<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<payscrow_paymentgateway>
				<active>Yes</active>
				<title>Payscrow - Premium Payment Escrow Service</title>
				<access_key/>
				<sandbox_mode>Yes</sandbox_mode>
				<max_delivery_duration>30</max_delivery_duration>
				<order_status>Complete</order_status>
				<allowspecific>0</allowspecific>
				<specificcountry/>
			</payscrow_paymentgateway>
		</payment>
	</default>
</config>
